# Artefactos de compilación
[Bb]in/
[Oo]bj/

# Archivos de usuario de Visual Studio
*.user
*.suo

# Carpeta de configuración de VS
.vs/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Resultados de pruebas
[Tt]est[Rr]esult*/

# Archivos de Rider/JetBrains (si usas Rider)
.idea/

# Publish output
[Pp]ublish/